    <div class="profile">
        <div>
            <form action="">
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="">Nom</label>
                        <input type="text" class="form-control" value="{{ person.user.id }}">
                    </div>
                    <div class="col-4">
                        <label for="">Prenom</label>
                        <input type="text" class="form-control" value="{{ person.firstName }}">
                    </div>
                    <div class="col-4">
                        <label for="">Age</label>
                        <input type="text" class="form-control" value="{{ person.dateOnBorn | localizeddate('none', 'none', 'fr', null, 'd MMMM Y')}}">
                    </div>
                </div>
            </form>
        </div>
    </div>