{% extends 'base.html.twig' %}
{% block title %}Reinitialisation{% endblock %}
{% block body %}
    <form method="post">
        <div class="background-img"></div>
        <div class="body-page" style="margin-top: 9%; ">
            <div class="container text-center body-content" style="margin-top: -61px;">
                <div class="logo-div">
                    <img src="{{asset('assets/images/logo_suivi.png')}}" alt="logo" id="logo" width="200px" >
                </div>
                <h3 class="main-title">REINITIALISATION DU MOT DE PASSE</h3>
                <form action="{{ path('reset_pass') }}" role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="username">
                            Identifiant
                        </label>
                        <input id="username" type='text' name="username"  class="form-control user" required>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Mot de passe
                        </label>
                        <input id="password" type='password' name="password" class="form-control"  minlength="8" required>
                    </div>

                    <button type="submit" class="btn btn-info button-login">
                        Reinitialiser
                    </button>
                </form>
            </div>
        </div>

    </form>
    <!-- Footer -->
    <footer class="footer">
        <div class="container mention-legal mt-5">
            Copyright © 2020 MATEAK
        </div>
    </footer>

{% endblock %}
{% block javascripts %}
    <!-- DataTables -->
    <script src="{{asset('vendor/datatables/jquery.dataTables.js')}}"></script>
    <script src="{{asset('vendor/datatables-bs4/js/dataTables.bootstrap4.js')}}"></script>
    <script>


    </script>
{% endblock %}





