
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
.env
/.env
/composer.lock
composer.lock

###> lexik/jwt-authentication-bundle ###
# /config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###mercure###
updates.db
composer.lock~723d823f4dbaa2b02e3d9c4b227b764b3a8de690

