{% extends 'include/base.html.twig' %}
{%  block title %}
    {% trans %}FAMILY GROUP{% endtrans %}
{% endblock %}
{% block body %}
    <div  class="modal-header text-center">
        <h4 style="margin-left: 463px;font-weight: bold;">{% trans %}FAMILY GROUP{% endtrans %}</h4>
    </div>

    <form action="{{ path('register_group') }}" method="post">
        <input type="hidden" name="group_id" id="group_id" class="form-control" >
        <div style="margin-top: 18px; margin-left: 273px;  " class="form-group row">
            <label for="group_name" style="background-color: #4682B4; color: #f0f0f0; font-size: 18px; padding: 15px;" class="col-md-4 ">{% trans %}Name of the group Family :{% endtrans %}</label>
            <div class="col-md-4">
                <input type="text" id="group_name" name="group_name"  style=" width: 335px; padding: 15px;background-color: #4682B4;margin-left: -10px; color: #f0f0f0;" required >
            </div>
        </div>
        <div style="margin-top: -15px; margin-left: 273px;" class="form-group row">
            <button type="button" class="btn btn-danger" style="width: 314px; padding: 15px; color: #0d0d0d;font-weight: bold" aria-label="Close"><i class="fas fa-remove ml-1"></i> {% trans %}CANCEL{% endtrans %} </button>
            <button type="submit" class="btn btn-success " style="width: 336px; margin-left: 5px; padding: 15px;color: #0d0d0d; font-weight: bold"><i class="fas fa-save ml-1"></i> {% trans %}VALIDATE{% endtrans %} </button>

        </div>
    </form>
{% endblock %}