{% extends 'admin/include/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}


<!-- Content -->

<div class="row head-table col-md-12">
    <div class="grid-title-table col-md-9 mt-4">
        <h4 class="h4-content">Liste des patients</h4>
    </div>
    <div class="grid-edit-btn col-md-3 mt-3">
        <button class="btn btn-info">+ Add membres</button>
        <button class="btn btn-danger">+ Creer patient</button>
    </div>
</div>
<div class="d-flex table-input-up">
    <div class="form-group d-flex pr-4">
        <label for="exampleFormControlSelect1">Afficher :</label>
        <select class="form-control select1" id="exampleFormControlSelect1">
          <option>1</option>
          <option>5</option>
          <option>10</option>
        </select>
    </div>
    <div class="form-group d-flex">
        <label for="exampleFormControlSelect1">Trier par :</label>
        <select class="form-control select1" id="exampleFormControlSelect1">
            <option>Femme enceinte</option>
            <option>Nouveaux-nees</option>
            <option>Homme</option>
        </select>
    </div>
</div>
<div class="row-table table-content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom et prenom</th>
                <th>Telephone</th>
                <th>Type</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>Calendrier vaccinal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">Gomez Maria</a></td>
                <td>Maria</td>
                <td>Maria@gmail.com</td>
                <td>Femme</td>
                <td>05/04/2020</td>
                <td>05/04/2020</td>
                <td>
                    <i class="fas fa-eye"></i>
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-ellipsis-v"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="navigation">
    <nav aria-label="Page">
        <ul class="pagination">
            <li class="page-item" id="prev"><a class="page-link" href="#"><i class="fa fa-chevron-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item" id="next"><a class="page-link" href="#"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
    </nav>
</div>

<!-- End Content -->

{% endblock %}
 