/* Fonts speciaux */

@font-face {
    font-family: "marvel-bold";
    src: url("../fonts/marvel/Marvel-Bold.ttf");
}

@font-face {
    font-family: "marvel-bolditalic";
    src: url("../fonts/marvel/Marvel-BoldItalic.ttf");
}

@font-face {
    font-family: "marvel-itlic";
    src: url("../fonts/marvel/Marvel-Italic.ttf");
}

@font-face {
    font-family: "marvel-regular";
    src: url("../fonts/marvel/Marvel-Regular.ttf");
}

@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "roboto-medium";
    src: url("../fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "roboto-thin";
    src: url("../fonts/roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: "roboto-thinitalic";
    src: url("../fonts/roboto/Roboto-ThinItalic.ttf");
}


/* Fonts speciaux */


/* Login */

a:hover {
    color: inherit;
}

body {
    background: #f5f5f5;
}

ul {
    list-style: none;
    padding: 0;
}

.col_exc_1 {
    background: linear-gradient(163deg, #3c023c 10%, #1c053a 57%);
    min-height: 97.5vh;
    width: 18%;
    position: relative;
}

.col_exc_2 {
    width: 82%;
}

.h4_patient {
    font-family: "roboto-medium";
    font-size: 15px;
    color: #eae9e9;
    text-align: center;
    border-bottom: 2px solid #461f50;
    padding: 12px;
}

.img_profile {
    text-align: center;
    border-bottom: 1px solid rgba(125, 122, 122, 0.11);
    z-index: 9;
}

.img_profile h5 {
    font-family: "roboto-medium";
    color: white;
    font-size: 13px;
    margin-top: 9px;
    margin-bottom: -4px;
}

.img_profile img {
    width: 80px;
    border-radius: 49%;
    text-align: center;
}

.img_profile label {
    font-family: "roboto-medium";
    color: #7d7a7a;
    font-size: 13px;
    margin-top: -15px;
}

.menu_suivi {
    list-style: none;
    font-family: "roboto-regular";
    font-size: 13px;
    line-height: 38px;
    margin-top: 20px;
    padding: 0;
}

.menu_suivi li {
    padding-left: 40px;
}

.menu_suivi .active {
    border-right: 3px solid #54b3c9;
    background: rgba(234, 234, 234, 0.031);
}

.menu_suivi a {
    color: #b7b2b2;
}

.logout_footer {
    text-align: center;
    border-top: 1px solid;
    margin: 0;
    padding: 6px 40px;
    font-family: "roboto-regular";
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logout_footer a {
    color: #b7b2b2;
}

.menu_up {
    background: white;
    width: 100%;
    float: right;
}

.menu_up .menu_bar {
    float: left;
    position: relative;
    top: 9px;
    left: 12px;
}

.menu_up .menu_bar i {
    color: #d6d5d5;
    font-size: 17px;
}

.menu_up .menu_right {
    display: flex;
    float: right;
    position: relative;
    top: 9px;
    margin-right: 19px;
}

.menu_up .menu_right i {
    position: relative;
    color: #6b6b6b;
    margin-left: 14px;
}

.menu_up .menu_right i span {
    position: absolute;
    top: -6px;
    font-size: 9px;
    color: white;
    font-family: "roboto-medium";
    background: #5d9e07;
    padding: 2px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    text-align: center;
    left: 9px;
}

.register .body-content {
    width: 534px;
}

.body-content {
    padding-top: 20px;
    width: 360px;
    background: white;
    margin: 0 auto;
    margin-top: 24px;
    border-radius: 7px;
    padding-bottom: 8px;
}

h3.main-title {
    font-family: "marvel-bold";
    font-size: 30px;
    padding-top: 18px;
}

#input-id {
    width: 70%;
    margin: 0 auto;
}

input#Check1 {
    margin-top: 8px;
}

.form-check {
    padding: 18px 0 10px 0;
}

img#qrcode {
    width: 100px;
}

.mention-legal {
    font-size: 11px;
    text-align: center;
    font-weight: 500;
}

.background-img {
    z-index: -1;
    top: 0;
    position: fixed;
    width: 100%;
    background: url(../images/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    filter: blur(0px);
}

.button-login {
    color: #fff;
    border: 0;
    background: linear-gradient(163deg, #e90eec 10%, #5907bf 57%);
    width: 45%;
}

.aide a {
    font-size: 12px;
}
img.qrCode {
    margin: 0 35px;
}