/* Fonts speciaux */

@font-face {
    font-family: "marvel-bold";
    src: url("../fonts/marvel/Marvel-Bold.ttf");
}

@font-face {
    font-family: "marvel-bolditalic";
    src: url("../fonts/marvel/Marvel-BoldItalic.ttf");
}

@font-face {
    font-family: "marvel-itlic";
    src: url("../fonts/marvel/Marvel-Italic.ttf");
}

@font-face {
    font-family: "marvel-regular";
    src: url("../fonts/marvel/Marvel-Regular.ttf");
}

@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "roboto-medium";
    src: url("../fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "roboto-thin";
    src: url("../fonts/roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: "roboto-thinitalic";
    src: url("../fonts/roboto/Roboto-ThinItalic.ttf");
}


/* Fonts speciaux */


/* Login */

a:hover {
    color: inherit;
}

body {
    background: #f5f5f5;
}

ul {
    list-style: none;
    padding: 0;
}

.col_exc_1 {
    /* background: linear-gradient(163deg, #3c023c 10%, #1c053a 57%); */
    background: linear-gradient(163deg, #02273c 10%, #052749 57%);
    min-height: 97.5vh;
    width: 18%;
    position: relative;
}

.col_exc_2 {
    width: 82%;
}

.h4_patient {
    font-family: "roboto-medium";
    font-size: 15px;
    color: #eae9e9;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    padding: 12px;
}

.img_profile {
    text-align: center;
    border-bottom: 1px solid rgba(125, 122, 122, 0.11);
    z-index: 9;
    padding-bottom: 26px;
}

.img_profile h5 {
    font-family: "roboto-medium";
    color: white;
    font-size: 13px;
    margin-top: 9px;
    margin-bottom: -4px;
}

.img_profile img {
    width: 80px;
    border-radius: 49%;
    text-align: center;
}

.img_profile label {
    font-family: "roboto-medium";
    color: #7d7a7a;
    font-size: 13px;
    margin-top: -15px;
}

.menu_suivi {
    list-style: none;
    font-family: "roboto-regular";
    font-size: 13px;
    line-height: 38px;
    margin-top: 20px;
    padding: 0;
}

.menu_suivi li {
    padding-left: 40px;
}

.menu_suivi .active {
    border-right: 3px solid #54b3c9;
    background: rgba(234, 234, 234, 0.031);
}

.menu_suivi a {
    color: #b7b2b2;
}

.logout_footer {
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 0.05);
    margin: 0;
    padding: 6px 40px;
    font-family: "roboto-regular";
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logout_footer a {
    color: #b7b2b2;
}

.menu_up {
    background: white;
    width: 100%;
    float: right;
}

.menu_up .menu_bar {
    float: left;
    position: relative;
    top: 9px;
    left: 12px;
}

.menu_up .menu_bar i {
    color: #d6d5d5;
    font-size: 17px;
}

.menu_up .menu_right {
    display: flex;
    float: right;
    position: relative;
    top: 9px;
    margin-right: 19px;
}

.menu_up .menu_right i {
    position: relative;
    color: #6b6b6b;
    margin-left: 14px;
}

.menu_up .menu_right i span {
    position: absolute;
    top: -6px;
    font-size: 9px;
    color: white;
    font-family: "roboto-medium";
    background: #5d9e07;
    padding: 2px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    text-align: center;
    left: 9px;
}

.register .body-content {
    width: 534px;
}

.body-content {
    padding-top: 20px;
    width: 360px;
    background: white;
    margin: 0 auto;
    margin-top: 24px;
    border-radius: 7px;
    padding-bottom: 8px;
}

h3.main-title {
    font-family: "marvel-bold";
    font-size: 30px;
    padding-top: 18px;
}

#input-id {
    width: 70%;
    margin: 0 auto;
}

input#Check1 {
    margin-top: 8px;
}

.form-check {
    padding: 18px 0 10px 0;
}

img#qrcode {
    width: 100px;
}

.mention-legal {
    font-size: 11px;
    text-align: center;
    font-weight: 500;
}

.background-img {
    z-index: -1;
    top: 0;
    position: fixed;
    width: 100%;
    background: url(../images/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    filter: blur(0px);
}

.button-login {
    color: #fff;
    border: 0;
    background: linear-gradient(163deg, #e90eec 10%, #5907bf 57%);
    width: 45%;
}

.aide a {
    font-size: 12px;
}

img.qrCode {
    margin: 0 35px;
}

footer {
    margin-bottom: 50px;
    padding-bottom: 50px;
}

select.mdb-select.initialized {
    display: none;
}

.validation_width {
    width: 10rem !important;
}


/* Dashboard */

.admin {
    position: relative;
    top: 16px;
}

.admin .card-admin {
    background: white;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

.admin .card-admin i {
    font-size: 44px;
    color: #eaeaea;
    margin-right: 25px;
    position: relative;
    top: 11px;
    margin-left: 10px;
}

.admin .card-admin h5 {
    font-family: "roboto-medium";
    font-size: 16px;
    margin: 0;
}

.admin .card-admin h3 {
    font-size: 25px;
    font-family: "roboto-bold";
    margin: 0;
    opacity: 0.3;
}

.card-admin {
    position: relative;
    margin-top: 8px;
    margin-bottom: 6px;
}

.card-admin span {
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 11px;
    padding: 0px 4px;
    color: white;
    border-radius: 3px;
    font-family: "roboto-medium";
}

.card-admin .note-red {
    background: #e20f0f;
}

.card-admin .note-green {
    background: green;
}

.card-admin .in-card {
    margin-top: 7px;
}

.title-dash {
    font-family: "roboto-medium";
    font-size: 20px;
    position: relative;
    display: initial;
    top: 12px;
}


/* End Dashboard */

.btn-class {
    background: #c70053 !important;
    border: none;
    border-radius: 0;
    font-family: "roboto-medium";
    text-transform: none;
    padding: 12px;
}

.btn-danger.active_etat_rdv {
    padding: 7px;
    width: 193px !important;
}

.profile-h2 {
    width: 50%;
    font-family: "marvel-bold";
    font-size: 25px;
    padding-bottom: 16px;
    margin-top: 26px;
}

.profile label {
    color: #052748;
    font-size: 14px;
    font-family: "roboto-medium";
}

.profileTrigger div {
    color: white;
    position: absolute;
    display: block;
    font-size: 12px;
    right: -2px;
    text-align: right;
    background: #032743;
    padding: 6px 11px;
    border-radius: 2px;
    top: 29px;
    line-height: 21px;
}

.profileTrigger div a {
    color: white;
}

.profileTrigger div a:hover {
    color: #b7b2b2;
}

.edit-register .body-content {
    width: auto;
    margin: initial;
}

.edit-register .body-content button {
    width: 178px;
}

.btn-edit {
    margin-top: 23px;
    width: 111px;
    padding: 7px;
    background: linear-gradient(163deg, #1cc888 10%, #37af21 57%);
    text-transform: capitalize;
}

.edit-register label {
    text-align: left;
    width: 100%;
    font-family: "marvel-bold";
    font-size: 18px;
    margin-bottom: -1px;
}