{% extends 'include/base.html.twig' %}
{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}
{% block body %}
    <h4 class="title-dash">{% trans %}Dashboard{% endtrans %}</h4>
    {{patient}}

{% endblock %}
