<div class="menu_up">
    <ul class="menu_bar">
        <li>
            <a href="">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <ul class="menu_right">
        <li>
            <a href="">
                <i class="far fa-envelope"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="far fa-bell">

                    <span>1</span>
                </i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fas fa-user-circle"></i>
            </a>
        </li>
    </ul>
</div>