
<p>Objet : Vos identifiants sur www.matipla.com</p>

<p>Bonjour</p>

<p>Veuillez trouver ci-dessous un lien valable 24 heures et vous permettant de réinitialiser votre mot de passe</p>

<a href="https://www.matipla.com{{ path('reset_pass') }}">Réinitialiser mon mot de passe</a>

<p>L'équipe MATIPLA</p>









