<h3>Réinitialisation de votre mot de passe</h3>
<p>Bonjour voici le lien de modification de votre mot de passe <a href="http://matipla.com{{ path('reset_pass') }}">Réinitialisation de mon mot de passe</a></p>
<p>Merci!</p>
