<h3>Réinitialisation de votre mot de passe</h3>
<p>Bonjour voici le lien de modification mot de passe <a href="http://suivie-patient.neitic.com{{ path('reset_pass') }}">Réinitialiser mon mot de passe</a></p>
<p>Merci!</p>
<p>L'equipe suivi de patient</p>