<h3>vous l'avez fait! Vous  êtes inscrit!</h3>

<p>Bonjour {{ name }} {{ first }}! Vous êtes enregistré avec succès</p>
<p>Votre identifiant est  {{ username }}</p>
<p>Votre code d'activation est  {{ code }} </p>
<p>Merci!</p>
<p>L'equipe suivi de patient</p>