<h3>Bonjour {{ name }} {{ first }}</h3>

<p>Vous l'avez fait!  Vous êtes enregistré avec succès.</p>

<p>L'équipe MATIPLA vous souhaite la Bienvenue sur votre Espace de Santé en Ligne!</p>

<p>Votre identifiant est  {{ username }}</p>

<p>Merci d'activer votre compte.</p>

<p>Votre code d'activation est  {{ code }} </p>

<p>Merci!</p>
